 *{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
 }
 
 html, body {
 height: 100%;
 width: 100%;
 margin: auto;
 background-color: #f0f0f0;
 }
 h1{
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
    color: #333;
 }
 .resume{
    max-width: 600px;
    margin: 10px auto;
    height: 100%;
    border-radius: 12px;
    background-color: white ;
    padding-top: 20px;
    box-shadow: 3px 5px 5px  #b6b2b2,
    0px 3px 5px 5px  #b6b2b2;;
 }
 .personalInfo{
    height: 150px;
    border-bottom: 1px solid #333;
    display: flex;
    gap: 30px;


 }
h2{
    color: #333;
    padding-bottom: 20px;
    
 }
 .personalInfo ul{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .section1{
    width: 300px;
    padding-left: 30px;
  

 }
 .section2{
    width: 150px;
    height: 130px;
    background-color: #333;
    margin-left: 70px;
 }
 .section2 img{
    height: 100%;
    width: 100%;
    background-size: contain;
 }

 .education{
    height: 250px;
    border-bottom: 1px solid #333;
    display: flex;
    flex-direction: column;
    padding: 10px 35px;

 }
 .education ul{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
 
 .experience{
    height: 100px;
    border-bottom: 1px solid #333;
    padding: 30px;
 }
 .experience p{
    padding-left: 25px;
 }
 .skills{
    height: 100px;
    padding:  0 30px;
    display: none;
 }
 .skills ul{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100px;
    gap: 5px;
    padding-top: 20px;
 }
 .skills-btn{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
    padding: 0px 30px;

 }
 .skills-btn h2{
    padding-top: 25px;
 }
 .skills-btn button{
    width: 120px;
    height: 30px;
    font-size: 20px;
    color: #333;
    border-radius: 5px;
    border: 1px solid #333;
 }


 @media (max-width:600px) {
    .resume{
        width: 330px;
        height: 110vh;
    }
    .personalInfo{
        height: 220px;
        padding: 0 20px;
        font-size: 15px;
    }
    .section1{
     padding-left: 20px;
     width: 200px;
    
    }
    .section1 ul{
        gap: 10px;
    }
    .section2{

        height: 150px;
        width: 300px;
        margin-left: 20px;
    }
    .section2 img{
        height: 100%;
        width: 100%;
        background-size: contain;
    }
    .education{
        height: 280px;

    }
    .education ul li{
         font-size: 15px;

    }
    h1{
        font-size: 30px;
    }
 }